<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">

     <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Stock market prediction</title>

        <link rel="stylesheet" type="text/css" href="{%static '/stock/css/main.css'%}">


    <style>


         body {
	background-image: url("{%static '/stock/img/back.jpg'%}");
        background-repeat:no-repeat;
       background-size:cover;
}
    </style>
</head>
<body >

<form  method="post", action="{% url 'log_in_backend'%}">

    {%csrf_token%}

    <fieldset>
                    <legend><img src="{%static '/stock/img/LogIn.png'%}"></legend>
                    <h1 id="login_h1"color="white">Log in</h1>
                    <input type="text" name="username" placeholder="username">
                    <input type="password" name="password" placeholder="Password">
                    <input type="submit" name="submit" value="Log in">
    </fieldset>


</form>


</body>
</html>