<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sign_up</title>
</head>
<body>


<form  method="post", action="{% url 'sign_up_backend'%}">

    {%csrf_token%}
    <label> first name</label>
    <input type="text" name="first_name"> <br>
     <label> last name</label>
    <input type="text" name="last_name"> <br>
   <label> user name</label>
    <input type="text" name="username"> <br>
    <label> email</label>
    <input type="email" name="email"> <br>

    <label> password</label>
    <input type="password" name="password"> <br>


    <input type="submit" value="sign up"> <br>



</form>
</body>
</html>